// Here you can add other styles
.sidebar {
  background-color: #092C5C;
}

.sidebar-nav .nav-link {
  color: #4D69AC;
}

.sidebar-nav .nav-link.active {
  background: #104081;
  color: white;
}

body {
  background-color: white;
}




